<!doctype html>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<html>
    <head>
        <title>Data Visualization</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <h1>
            Data Visualization
        </h1>
        <form method="POST" action="/visualization">
            <label for="name">Choose the name of the city you want to create some visualizations:</label>
            <select id="names" name="name"> 
                <option value="Los Angeles">Los Angeles</option>
                <option value="New York">New York</option>
                <option value="Chicago">Chicago</option>
            </select>
            <br>
		    <button type="submit">Submit</button>
        </form>
        <h1>{{ name }}</h1>
        <p>
            This is the distribution of the houses data in {{ name }}.
        </p>
        
        {% if name %}
            <div id="myPlot"></div>
        {% else %}
            <p>Welcome, regular user!</p>
        {% endif %}
        <div id="myPlot"></div>

        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const city = urlParams.get('city');

            // Create a new h1 element
            const heading = document.createElement("h1");
            
            // Set the text content of the heading
            heading.textContent = city;
            
            // Add the heading to the body of the page
            document.body.appendChild(heading);
          </script>
    </body>
    <script>
        Plotly.newPlot("myPlot", {{ graph | safe }})
    </script>
</html>