<!doctype html>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<html>
    <head>
        <title>Data Visualization</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const name = urlParams.get('city');
            const city = name.replace(/([a-z])([A-Z])/g, '$1 $2');
            // Create a new h1 element
            const heading = document.createElement("h1");
            
            // Set the text content of the heading
            heading.textContent = city;
            
            // Add the heading to the body of the page
            document.body.appendChild(heading);
        </script>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('data_collection', city=city) }}">Data Collection</a></li>
                <li><a href="{{ url_for('visualization', city=city) }}">Visualization</a></li>
            </ul>
        </nav>
        <h2>
            Data Visualization
        </h2>
        <p>
            This is the distribution of the houses data.
        </p>
        
        
        <div id="myPlot"></div>
    </body>
    <script>
        Plotly.newPlot("myPlot", {{ graph | safe }})
    </script>
</html>